/* no hover/focus style theme.json support */
.wp-block-button__link:hover,
.wp-block-button__link:focus {
	text-decoration: var( --wp--custom--text-decoration );
}

.is-style-outline > :where( .wp-block-button__link ) {
        border-width: 1px;
}

.is-style-hand-drawn > :where( .wp-block-button__link ){
	border: 2px solid currentColor;
	overflow: hidden;
	box-shadow: var( --wp--custom--shadow--sm );
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px !important;
	font-family: var( --wp--preset--font-family--handwriting );
}
