:is( h1, h2, h3, h4, h5, h6 ).has-background {
	padding: var( --wp--custom--spacing--global );
}

:where( h1, h2, h3, h4, h5, h6 ).is-style-handwriting {
	--wp--preset--font-family--headings: var( --wp--preset--font-family--handwriting );
}

:where( h1, h2, h3, h4, h5, h6 ).is-style-text-shadow-sm {
	text-shadow: var( --wp--custom--text-shadow--sm );
}

:where( h1, h2, h3, h4, h5, h6 ).is-style-text-shadow-md {
	text-shadow: var( --wp--custom--text-shadow--md );
}

:where( h1, h2, h3, h4, h5, h6 ).is-style-text-shadow-lg {
	text-shadow: var( --wp--custom--text-shadow--lg );
}

:where( h1, h2, h3, h4, h5, h6 ).is-style-bg-clip-text,
.editor-styles-wrapper :where( h1, h2, h3, h4, h5, h6 ).is-style-bg-clip-text {
	padding: 0;
	background-clip: text !important;
	-webkit-background-clip: text !important;
	color: transparent;
}

:where( h1, h2, h3, h4, h5, h6 ).is-style-bg-clip-text:not( .has-background ) {
	background: var( --wp--preset--gradient--cool-to-warm-spectrum );
}

:where( h1, h2, h3, h4, h5, h6 ).is-style-bg-clip-text > a {
	color: transparent;
}

:where( h1, h2, h3, h4, h5, h6 ).is-style-bg-clip-text > span {
	color: inherit;
}
