/* Headings */
:where( h1, h2, h3, h4, h5, h6 ) {
	margin-bottom: 0;
}

* + :where( h1, h2, h3, h4, h5, h6 ) {
	--wp--style--block-gap: var( --wp--custom--spacing--12 );
}

:where( h1, h2, h3, h4, h5, h6 ) + * {
        --wp--style--block-gap: var( --wp--custom--spacing--4 );
	margin-top: var( --wp--style--block-gap );
}

:where( h1, h2, h3, h4, h5, h6 ) + :where( h2, h3, h4, h5, h6 ) {
        --wp--style--block-gap: var( --wp--custom--spacing--2 );
}

:where( hr, .wp-block-spacer ) + :where( h1, h2, h3, h4, h5, h6 ),
:where( h1, h2, h3, h4, h5, h6 ) + :where( hr, .wp-block-spacer ) {
	--wp--style--block-gap: var( --wp--custom--spacing--global );
}

:where( h1, h2, h3, h4, h5, h6 ).has-background {
	padding: var( --wp--style--block-gap );
}

:where( h1, h2, h3, h4, h5, h6 ).is-style-handwriting {
	--wp--preset--font-family--headings: var( --wp--preset--font-family--cursive );
}
